*{
    margin: 0;
    padding: 0;
}

/* --------about us page --------- */

.sub-header{
    height: 50vh;
    width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url( images/kids.jpg);
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #fff;
}

.sub-header{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 88px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
about-col p{
    padding: 15px 0 25px;
}

.red btn{
    border: 1px soid #f44336;
    background: transparent;
    color: #f44336;
}
.red btn:hover{
color: #fff;
}